.header {
  background: rgba(2, 16, 36, 1);
  padding: 2.5rem 5rem;
  justify-content: center;
  align-items: flex-end;
  padding-top: 7rem;
  margin: -5% 12%;
  display: flex;
  border-radius: 90px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  position: sticky;
  z-index: 1000;
}

.header__nav {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.headerbtn {
  background: none;
  border: none;
  color: #cfe8ff;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-family: poppins, sans-serif;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.headerbtn:hover {
  color: #ffffff;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.headerbtn a {
  color: #ffffff;
  text-decoration: none;
}

.headerbtn a:visited {
  color: #ffffff;
}

.headerbtn a:hover {
  color: #cfe8ff;
}

@media (max-width: 768px) {
  .header {
    padding: 1.5rem 2rem;
    margin: 0;
    border-radius: 0;
  }

  .header__nav {
    gap: 1rem;
    align-items: center;
  }

  .headerbtn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}
